.main-container {
  display: flex;
}

.left-panel {
  flex: 1 1 70%;
}

.right-panel {
  flex: 1 1 30%;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.back-arrow {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
}
