<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Sipariş alma ekranı"></mat-tab>
  <mat-tab label="Siparişler"></mat-tab>
</mat-tab-group>

<div *ngIf="selectedTabIndex === 0" class="main-container">
  <div class="left-panel">
    <div *ngIf="selectedTableId">
      <button class="back-arrow" (click)="backToTableSelection()">&#8592; Masalara Dön</button>
    </div>
    <app-table-list [tables]="tables" *ngIf="!selectedTableId" (selectTable)="onTableSelect($event)"></app-table-list>
    <app-product-types [productTypes]="productTypes" *ngIf="selectedTableId" (selectProductType)="onProductTypeSelect($event)" [selectedProductTypeId]="selectedProductTypeId"></app-product-types>
    <app-product-list *ngIf="selectedProductTypeId" [products]="filteredProducts" (addToCart)="onProductSelect($event)"></app-product-list>
  </div>
  <div class="right-panel">
    <app-cart *ngIf="selectedTableId" [cartItems]="cartItems" [totalPrice]="totalPrice" 
      (increaseQuantity)="increaseCartItemQuantity($event)" 
      (decreaseQuantity)="decreaseCartItemQuantity($event)" 
      (removeItem)="removeCartItem($event)"
      (createOrder)="createOrder($event)">
    </app-cart>
  </div>
</div>

<app-order *ngIf="selectedTabIndex === 1"></app-order>
