/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;

  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: #f2f2f2;
  /* Div'e de arka plan rengi ver */
  width: 100%; /* Maksimum genişlik belirle */
  z-index: 1; /* Öne çıkar */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}/* Genel sayfa stilini ayarla */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Login kutusunu ortala */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tüm ekran yüksekliğini kapla */
  background-color: #f2f2f2;
}

/* Login kutusunun stilini ayarla */
.register-box {
  background-color: #ffffff;
  border: 2px solid #ff0000; /* Kırmızı kenarlık */
  border-radius: 10px;
  padding: 30px; /* Padding'i arttırarak genişliği ayarla */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  color: #ff0000; /* Kırmızı başlık */
}

.register-box input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-box button {
  background-color: #ff0000; /* Kırmızı buton */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.register-box button:hover {
  background-color: #cc0000; /* Daha koyu kırmızı */
}

/* Mobil uyumlu tasarım */
@media (max-width: 600px) {
  .register-box {
    padding: 20px; /* Mobilde padding'i biraz düşür */
  }
  .register-box input {
    margin: 5px 0;
  }
  .register-box button {
    padding: 8px 16px;
  }
}
