<div class="dropdown">
  <button class="dropbtn">User</button>
  <div class="dropdown-content">
    <a href="/login">Login</a>
    <a href="/register">Register</a>

  </div>
</div>
<div class="register-container">

<div class="register-box">
  <h2>Register</h2>

  <form (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username">

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password">

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" [(ngModel)]="lastName" name="lastName">

    <label for="hireDate">Hire Date:</label>
    <input type="date" id="hireDate" [(ngModel)]="hireDate" name="hireDate">

    <button type="submit">Register</button>
  </form>


</div>
</div>



